.menu {
  /* width: 100%;
  height: auto; */

  /* position: relative; */
  display: table;
  float: left;
  transform: translate(-50%, 0);
  margin: 5% 0% 0 50%;
  padding: 0 0 50px 0;
  min-width: 400px;

  /* transform: translate(20%, 10%); */

  /* padding: 20px 0 0 5%; */
}
.menu li {
  /* float: left;

  min-width: 150px;
  display: flex; */
  /* menu without mark */
  float: left;
  margin-right: 50px;
  position: relative;
  display: block;
  /* padding: 0 2% 3% 2%; */
}

.menu li a {
  white-space: nowrap;
  display: block;

  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: gray;
}

.menu ul li a:hover {
  color: lightskyblue;
  text-decoration: none; /* без подчеркивания ссылки */
}
/*
testclass {
  float: left; /* Выравнивание по правому краю 
  /* padding: 0px; /* Поля внутри блока 
  /* margin: 0px 0 5px 50px; /* Отступы вокруг 
  
}
 */
.subMenu {
  /* background: white; */
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: 0.3s;
}
.subMenu a {
  letter-spacing: 1px;
  padding: 5px 10px 0 50px;
  transition: 0.3s linear;
}
.menu li:hover .subMenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

testclass {
  float: left;
  display: block;
  width: 45%;

  height: auto;
  max-width: 100%;

  min-width: 20%;
  margin: 2% 2% 50px 2%;
  padding: 0 0 0 5%;
}
testclass2 {
  float: right;
  display: block;
  width: 45%;
  height: auto;
  max-width: 100%;
  padding: 0 5% 0 0;

  min-width: 20%;
  margin: 2% 2% 50px 2%;
}
allContent {
  width: 100%;
}
img {
  /* adaptt picture */
  max-width: 100%;
  height: auto;
  min-width: 100%;
}
.title {
  text-transform: uppercase;
}
h2 {
  font-style: initial;
  font-weight: 600;
  color: gray;
  font-feature-settings: "abvm";
}
p {
  color: gray;
  text-align: justify;
}
but {
  float: left;
  transform: translate(-50%, 0);
  margin: 0% 0 0 50%;
  padding: 0 0 50px 0;
}
button {
  padding: 15px 50px;
  background: white;
  border: 1px solid gray;
}
